<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.sf.amateras.air.launchAIRConfigurationType">
<stringAttribute key="air.project" value="test_es"/>
<stringAttribute key="air.target" value="application.xml"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
</launchConfiguration>
